In [1]:
#
#
#

In [2]:
import pandas as pd
from pandas import DataFrame, Series
import json

In [3]:
from bs4 import BeautifulSoup

In [4]:
import requests, os

In [5]:
countries=pd.read_json("https://tyler.caraza-harter.com/cs301/spring19/data/countries.json")
countries

,area,birth-rate,coastline,continent,country,death-rate,gdp-per-capita,infant-mortality,literacy,net-migration,phones,population,region
0,756950,15.23,0.85,South America,Chile,5.81,9900,8.80,"96,2",0.00,"213,0",16134219,LATIN AMER. & CARIB
1,665,17.80,24.21,Asia,Bahrain,4.14,16900,17.27,"89,1",1.05,"281,3",698585,NEAR EAST
2,22966,28.84,1.68,North America,Belize,5.72,4900,25.69,"94,1",0.00,"115,7",287730,LATIN AMER. & CARIB
3,582650,39.72,0.09,Africa,Kenya,14.02,1000,61.47,"85,1",-0.10,"8,1",34707817,SUB-SAHARAN AFRICA
4,11854,33.05,3.12,Australia,Marshall Islands,4.78,1600,29.45,"93,7",-6.04,"91,2",60422,OCEANIA
5,111370,44.77,0.52,Africa,Liberia,23.10,1000,128.87,"57,5",0.00,"2,3",3042004,SUB-SAHARAN AFRICA
6,504782,10.06,0.98,Europe,Spain,9.72,22000,4.42,"97,9",0.99,"453,5",40397842,WESTERN EUROPE
7,65610,15.51,2.04,Asia,Sri Lanka,6.52,3700,14.35,"92,3",-1.31,"61,5",20222240,ASIA (EX. NEAR EAST)
8,212460,36.24,0.98,Asia,Oman,3.81,13100,19.51,"75,8",0.28,"85,5",3102229,NEAR EAST
9,316,10.22,62.28,Europe,Malta,8.10,17700,3.89,"92,8",2.07,"505,0",400214,WESTERN EUROPE
10,185180,27.76,0.10,Asia,Syria,4.81,3300,29.53,"76,9",0.00,"153,8",18881361,NEAR EAST
11,1759540,26.49,0.10,Africa,Libya,3.48,6400,24.60,"82,6",0.00,"127,1",5900754,NORTHERN AFRICA
12,752614,41.00,0.00,Africa,Zambia,19.93,800,88.29,"80,6",0.00,"8,2",11502010,SUB-SAHARAN AFRICA
13,10991,20.82,9.30,North America,Jamaica,6.52,3900,12.36,"87,9",-4.92,"124,0",2758124,LATIN AMER. & CARIB
14,447400,26.36,0.00,Asia,Uzbekistan,7.84,1700,71.10,"99,3",-1.72,"62,9",27307134,C.W. OF IND. STATES
15,322460,35.11,0.16,Africa,Cote d'Ivoire,14.84,1400,90.83,"50,9",-0.07,"14,6",17654843,SUB-SAHARAN AFRICA
16,61,10.02,0.00,Europe,San Marino,8.17,34600,5.73,"96,0",10.98,"704,3",29251,WESTERN EUROPE
17,488100,27.61,0.00,Asia,Turkmenistan,8.60,5800,73.08,"98,0",-0.86,"74,6",5042920,C.W. OF IND. STATES
18,33843,15.70,0.00,Europe,Moldova,12.64,1800,40.42,"99,1",-0.26,"208,1",4466706,C.W. OF IND. STATES
19,28748,15.11,1.26,Europe,Albania,5.22,4500,21.52,"86,5",-4.93,"71,2",3581655,EASTERN EUROPE
20,53,11.40,194.34,North America,Bermuda,7.74,36000,8.53,"98,0",2.49,"851,4",65773,NORTHERN AMERICA
21,803940,29.74,0.13,Asia,Pakistan,8.23,2100,72.44,"45,7",-2.77,"31,8",165803560,ASIA (EX. NEAR EAST)
22,30528,10.38,0.22,Europe,Belgium,10.27,29100,4.68,"98,0",1.23,"462,6",10379067,WESTERN EUROPE
23,47000,33.65,0.00,Asia,Bhutan,12.70,1300,100.44,"42,2",0.00,"14,3",2279723,ASIA (EX. NEAR EAST)
24,587040,41.41,0.82,Africa,Madagascar,11.11,800,76.83,"68,9",0.00,"3,6",18595469,SUB-SAHARAN AFRICA
25,17363,27.41,0.00,Africa,Swaziland,29.74,4900,69.27,"81,6",0.00,"30,8",1136334,SUB-SAHARAN AFRICA
26,4167,16.68,60.60,Australia,French Polynesia,4.69,17500,8.44,"98,0",2.94,"194,5",274578,OCEANIA
27,64589,9.24,0.82,Europe,Latvia,13.66,10200,9.55,"99,8",-2.23,"321,4",2274735,BALTICS
28,93030,9.72,0.00,Europe,Hungary,13.11,13900,8.57,"99,4",0.86,"336,2",9981334,EASTERN EUROPE
29,693,9.34,27.85,Asia,Singapore,4.28,23700,2.29,"92,5",11.53,"411,4",4492150,ASIA (EX. NEAR EAST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,267667,36.16,0.33,Africa,Gabon,12.25,5500,53.64,"63,2",0.00,"27,4",1424906,SUB-SAHARAN AFRICA
146,13790,12.77,3.63,North America,Puerto Rico,7.65,16800,8.24,"94,1",-1.46,"283,1",3927188,LATIN AMER. & CARIB
147,338145,10.45,0.37,Europe,Finland,9.86,27400,3.57,"100,0",0.95,"405,3",5231372,WESTERN EUROPE
148,1240000,49.82,0.00,Africa,Mali,16.89,900,116.79,"46,4",-0.33,"6,4",11716829,SUB-SAHARAN AFRICA
149,2170,36.93,15.67,Africa,Comoros,8.20,700,74.93,"56,5",0.00,"24,5",690948,SUB-SAHARAN AFRICA
150,7686850,12.14,0.34,Australia,Australia,7.51,29000,4.69,"100,0",3.98,"565,5",20264082,OCEANIA
151,825418,24.32,0.19,Africa,Namibia,18.86,7200,48.98,"84,0",0.00,"62,6",2044147,SUB-SAHARAN AFRICA
152,181040,26.90,0.24,Asia,Cambodia,9.06,1900,71.48,"69,4",0.00,"2,6",13881427,ASIA (EX. NEAR EAST)
153,236040,47.35,0.00,Africa,Uganda,12.24,1400,67.83,"69,9",0.00,"3,6",28195754,SUB-SAHARAN AFRICA
154,945087,37.71,0.15,Africa,Tanzania,16.39,600,98.54,"78,2",-2.06,"4,0",37445392,SUB-SAHARAN AFRICA
155,27830,42.22,0.00,Africa,Burundi,13.46,600,69.29,"51,6",-0.06,"3,4",8090068,SUB-SAHARAN AFRICA
156,82880,18.96,1.59,Asia,United Arab Emirates,4.40,23200,14.51,"77,9",1.03,"475,3",2602713,NEAR EAST
157,329750,22.86,1.42,Asia,Malaysia,5.05,9000,17.70,"88,7",0.00,"179,0",24385858,ASIA (EX. NEAR EAST)
158,78866,9.02,0.00,Europe,Czech Republic,10.59,15700,3.93,"99,9",0.97,"314,3",10235455,EASTERN EUROPE
159,514000,13.87,0.63,Asia,Thailand,7.04,7400,20.48,"92,6",0.00,"108,9",64631595,ASIA (EX. NEAR EAST)
160,70280,14.45,2.06,Europe,Ireland,7.82,29600,5.39,"98,0",4.99,"500,5",4062235,WESTERN EUROPE
161,18270,22.55,6.18,Australia,Fiji,5.65,5800,12.62,"93,7",-3.14,"112,6",905949,OCEANIA
162,2717300,16.00,0.00,Asia,Kazakhstan,9.42,6300,29.21,"98,4",-3.35,"164,1",15233244,C.W. OF IND. STATES
163,1564116,21.59,0.00,Asia,Mongolia,6.95,1800,53.79,"97,8",0.00,"55,1",2832224,ASIA (EX. NEAR EAST)
164,198500,22.80,0.00,Asia,Kyrgyzstan,7.08,1600,35.64,"97,0",-2.45,"84,0",5213898,C.W. OF IND. STATES
165,527970,42.89,0.36,Asia,Yemen,8.30,800,61.50,"50,2",0.00,"37,2",21456188,NEAR EAST
166,9984670,10.78,2.02,North America,Canada,7.80,29800,4.75,"97,0",5.96,"552,2",33098932,NORTHERN AMERICA
167,262,12.74,61.07,North America,Cayman Islands,4.89,35000,8.19,"98,0",18.75,"836,3",45436,LATIN AMER. & CARIB
168,118480,43.13,0.00,Africa,Malawi,19.33,600,103.32,"62,7",0.00,"7,9",13013926,SUB-SAHARAN AFRICA
169,86600,20.74,0.00,Europe,Azerbaijan,9.75,3400,81.74,"97,0",-4.90,"137,1",7961619,C.W. OF IND. STATES
170,2381740,17.14,0.04,Africa,Algeria,4.61,6000,31.00,"70,0",-0.39,"78,1",32930091,NORTHERN AFRICA
171,103000,13.64,4.83,Europe,Iceland,6.72,30900,3.31,"99,9",2.38,"647,7",299388,WESTERN EUROPE
172,748,25.37,56.02,Australia,Tonga,5.28,2200,12.62,"98,5",0.00,"97,7",114689,OCEANIA
173,27750,36.44,6.38,North America,Haiti,12.17,1600,73.45,"52,9",-3.40,"16,9",8308504,LATIN AMER. & CARIB
174,1284000,45.73,0.00,Africa,Chad,16.38,1200,93.82,"47,5",-0.11,"1,3",9944201,SUB-SAHARAN AFRICA

In [6]:
#q1
countries["area"].sum()

127493303

In [7]:
url = "https://tyler.caraza-harter.com/cs301/spring19/data/capitals/manifest.txt"
r = requests.get(url)
r.raise_for_status()
data = r.text
json_list= data.split("\n")

json_list.pop(-1)
json_list

['Brazil_Peru.json',
 'ElSalvador_SaintHelena.json',
 'Ghana_Belize.json',
 'Palau_Nigeria.json',
 'Portugal_Somalia.json',
 'Seychelles_Cuba.json',
 'Slovenia_Estonia.json',
 'Tanzania_Swaziland.json',
 'Vanuatu_Tajikistan.json']

In [8]:
#q2
json_list[0]

'Brazil_Peru.json'

In [9]:
def get_json(path):
    url = "https://tyler.caraza-harter.com/cs301/spring19/data/capitals/" + path
    #path="C:\Users\Owner\Documents\CS 301\p10"
    if not os.path.exists(path):
        r = requests.get(url)
        r.raise_for_status()
        data = r.json()
        f=open(path, "w")
        json.dump(data, f)
        f.close()
        return data
    else:
        f=open(path, "r")
        content = json.load(f)
        f.close()
        return content

In [10]:
get_json("Brazil_Peru.json")

[{'capital': 'Brasilia',
  'country': 'Brazil',
  'latitude': -15.783333333333333,
  'longitude': -47.916667},
 {'capital': 'Nouakchott',
  'country': 'Mauritania',
  'latitude': 18.066666666666666,
  'longitude': -15.966667000000001},
 {'capital': 'Bern',
  'country': 'Switzerland',
  'latitude': 46.91666666666666,
  'longitude': 7.466667},
 {'capital': 'Zagreb',
  'country': 'Croatia',
  'latitude': 45.8,
  'longitude': 16.0},
 {'capital': 'Cairo',
  'country': 'Egypt',
  'latitude': 30.05,
  'longitude': 31.25},
 {'capital': 'Sanaa',
  'country': 'Yemen',
  'latitude': 15.35,
  'longitude': 44.2},
 {'capital': 'Helsinki',
  'country': 'Finland',
  'latitude': 60.16666666666666,
  'longitude': 24.933332999999998},
 {'capital': 'Addis Ababa',
  'country': 'Ethiopia',
  'latitude': 9.033333333333333,
  'longitude': 38.7},
 {'capital': 'Prague',
  'country': 'Czech Republic',
  'latitude': 50.08333333333334,
  'longitude': 14.466667000000001},
 {'capital': 'Maseru',
  'country': 'Lesotho',
  'latitude': -29.316666666666666,
  'longitude': 27.483333000000002},
 {'capital': 'Antananarivo',
  'country': 'Madagascar',
  'latitude': -18.916666666666668,
  'longitude': 47.516667},
 {'capital': 'Ashgabat',
  'country': 'Turkmenistan',
  'latitude': 37.95,
  'longitude': 58.38333299999999},
 {'capital': 'Tashkent',
  'country': 'Uzbekistan',
  'latitude': 41.31666666666667,
  'longitude': 69.25},
 {'capital': 'Kingstown',
  'country': 'Saint Vincent and the Grenadines',
  'latitude': 13.133333333333333,
  'longitude': -61.216667},
 {'capital': 'Roseau',
  'country': 'Dominica',
  'latitude': 15.3,
  'longitude': -61.4},
 {'capital': 'Tunis',
  'country': 'Tunisia',
  'latitude': 36.8,
  'longitude': 10.183333},
 {'capital': 'Niamey',
  'country': 'Niger',
  'latitude': 13.516666666666667,
  'longitude': 2.1166669999999996},
 {'capital': 'Dublin',
  'country': 'Ireland',
  'latitude': 53.31666666666667,
  'longitude': -6.233333},
 {'capital': 'Port-au-Prince',
  'country': 'Haiti',
  'latitude': 18.53333333333333,
  'longitude': -72.333333},
 {'capital': 'Lima',
  'country': 'Peru',
  'latitude': -12.05,
  'longitude': -77.05}]

In [11]:

#capital_rows=[]
#for file in json_list:
 #   capitals=get_json(file)
  #  capital_rows+=capitals
#capital_rows

In [12]:
#q3
capital_rows=[]
for file in json_list:
    capitals=get_json(file)
    capital_rows+=capitals
#capitals=DataFrame(capital_rows)
capital_rows

[{'capital': 'Brasilia',
  'country': 'Brazil',
  'latitude': -15.783333333333333,
  'longitude': -47.916667},
 {'capital': 'Nouakchott',
  'country': 'Mauritania',
  'latitude': 18.066666666666666,
  'longitude': -15.966667000000001},
 {'capital': 'Bern',
  'country': 'Switzerland',
  'latitude': 46.91666666666666,
  'longitude': 7.466667},
 {'capital': 'Zagreb',
  'country': 'Croatia',
  'latitude': 45.8,
  'longitude': 16.0},
 {'capital': 'Cairo',
  'country': 'Egypt',
  'latitude': 30.05,
  'longitude': 31.25},
 {'capital': 'Sanaa',
  'country': 'Yemen',
  'latitude': 15.35,
  'longitude': 44.2},
 {'capital': 'Helsinki',
  'country': 'Finland',
  'latitude': 60.16666666666666,
  'longitude': 24.933332999999998},
 {'capital': 'Addis Ababa',
  'country': 'Ethiopia',
  'latitude': 9.033333333333333,
  'longitude': 38.7},
 {'capital': 'Prague',
  'country': 'Czech Republic',
  'latitude': 50.08333333333334,
  'longitude': 14.466667000000001},
 {'capital': 'Maseru',
  'country': 'Lesotho',
  'latitude': -29.316666666666666,
  'longitude': 27.483333000000002},
 {'capital': 'Antananarivo',
  'country': 'Madagascar',
  'latitude': -18.916666666666668,
  'longitude': 47.516667},
 {'capital': 'Ashgabat',
  'country': 'Turkmenistan',
  'latitude': 37.95,
  'longitude': 58.38333299999999},
 {'capital': 'Tashkent',
  'country': 'Uzbekistan',
  'latitude': 41.31666666666667,
  'longitude': 69.25},
 {'capital': 'Kingstown',
  'country': 'Saint Vincent and the Grenadines',
  'latitude': 13.133333333333333,
  'longitude': -61.216667},
 {'capital': 'Roseau',
  'country': 'Dominica',
  'latitude': 15.3,
  'longitude': -61.4},
 {'capital': 'Tunis',
  'country': 'Tunisia',
  'latitude': 36.8,
  'longitude': 10.183333},
 {'capital': 'Niamey',
  'country': 'Niger',
  'latitude': 13.516666666666667,
  'longitude': 2.1166669999999996},
 {'capital': 'Dublin',
  'country': 'Ireland',
  'latitude': 53.31666666666667,
  'longitude': -6.233333},
 {'capital': 'Port-au-Prince',
  'country': 'Haiti',
  'latitude': 18.53333333333333,
  'longitude': -72.333333},
 {'capital': 'Lima',
  'country': 'Peru',
  'latitude': -12.05,
  'longitude': -77.05},
 {'capital': 'San Salvador',
  'country': 'El Salvador',
  'latitude': 13.7,
  'longitude': -89.2},
 {'capital': 'Sofia',
  'country': 'Bulgaria',
  'latitude': 42.68333333333333,
  'longitude': 23.316667000000002},
 {'capital': 'Guatemala City',
  'country': 'Guatemala',
  'latitude': 14.616666666666667,
  'longitude': -90.516667},
 {'capital': 'Rabat',
  'country': 'Morocco',
  'latitude': 34.016666666666666,
  'longitude': -6.816667},
 {'capital': 'Brussels',
  'country': 'Belgium',
  'latitude': 50.83333333333334,
  'longitude': 4.3333330000000005},
 {'capital': 'Ankara',
  'country': 'Turkey',
  'latitude': 39.93333333333333,
  'longitude': 32.866667},
 {'capital': 'Wellington',
  'country': 'New Zealand',
  'latitude': -41.3,
  'longitude': 174.783333},
 {'capital': 'George Town',
  'country': 'Cayman Islands',
  'latitude': 19.3,
  'longitude': -81.383333},
 {'capital': 'Tripoli',
  'country': 'Libya',
  'latitude': 32.88333333333333,
  'longitude': 13.166667000000002},
 {'capital': "Nuku'alofa",
  'country': 'Tonga',
  'latitude': -21.133333333333333,
  'longitude': -175.2},
 {'capital': 'Yaounde',
  'country': 'Cameroon',
  'latitude': 3.8666666666666663,
  'longitude': 11.516667},
 {'capital': 'Luxembourg',
  'country': 'Luxembourg',
  'latitude': 49.6,
  'longitude': 6.116667},
 {'capital': 'Kigali',
  'country': 'Rwanda',
  'latitude': -1.95,
  'longitude': 30.05},
 {'capital': 'Panama City',
  'country': 'Panama',
  'latitude': 8.966666666666667,
  'longitude': -79.533333},
 {'capital': 'Phnom Penh',
  'country': 'Cambodia',
  'latitude': 11.55,
  'longitude': 104.91666699999999},
 {'capital': 'Kyiv',
  'country': 'Ukraine',
  'latitude': 50.43333333333333,
  'longitude': 30.516666999999998},
 {'capital': 'Asmara',
  'country': 'Eritrea',
  'latitude': 15.333333333333336,
  'longitude': 38.933333000000005},
 {'capital': 'Amman',
  'country': 'Jordan',
  'latitude': 31.95,
  'longitude': 35.933333000000005},
 {'capital': 'Algiers',
  'country': 'Algeria',
  'latitude': 36.75,
  'longitude': 3.05},
 {'capital': 'Jamestown',
  'country': 'Saint Helena',
  'latitude': -15.933333333333335,
  'longitude': -5.716667},
 {'capital': 'Accra',
  'country': 'Ghana',
  'latitude': 5.55,
  'longitude': -0.216667},
 {'capital': 'Georgetown',
  'country': 'Guyana',
  'latitude': 6.8,
  'longitude': -58.15},
 {'capital': 'London',
  'country': 'United Kingdom',
  'latitude': 51.5,
  'longitude': -0.083333},
 {'capital': 'Suva',
  'country': 'Fiji',
  'latitude': -18.133333333333333,
  'longitude': 178.416667},
 {'capital': 'Djibouti',
  'country': 'Djibouti',
  'latitude': 11.583333333333336,
  'longitude': 43.15},
 {'capital': 'Thimphu',
  'country': 'Bhutan',
  'latitude': 27.466666666666665,
  'longitude': 89.633333},
 {'capital': 'Oslo',
  'country': 'Norway',
  'latitude': 59.91666666666666,
  'longitude': 10.75},
 {'capital': 'Bissau',
  'country': 'Guinea-Bissau',
  'latitude': 11.85,
  'longitude': -15.583332999999998},
 {'capital': 'The Valley',
  'country': 'Anguilla',
  'latitude': 18.216666666666665,
  'longitude': -63.05},
 {'capital': 'Damascus',
  'country': 'Syria',
  'latitude': 33.5,
  'longitude': 36.3},
 {'capital': 'Tehran',
  'country': 'Iran',
  'latitude': 35.7,
  'longitude': 51.416667},
 {'capital': 'Vientiane',
  'country': 'Laos',
  'latitude': 17.966666666666665,
  'longitude': 102.6},
 {'capital': 'Malabo',
  'country': 'Equatorial Guinea',
  'latitude': 3.75,
  'longitude': 8.783333},
 {'capital': 'Abu Dhabi',
  'country': 'United Arab Emirates',
  'latitude': 24.466666666666665,
  'longitude': 54.36666700000001},
 {'capital': 'Monrovia',
  'country': 'Liberia',
  'latitude': 6.3,
  'longitude': -10.8},
 {'capital': 'Washington D.C.',
  'country': 'United States',
  'latitude': 38.883333,
  'longitude': -77.0},
 {'capital': 'Santo Domingo',
  'country': 'Dominican Republic',
  'latitude': 18.466666666666665,
  'longitude': -69.9},
 {'capital': 'Praia',
  'country': 'Cape Verde',
  'latitude': 14.916666666666664,
  'longitude': -23.516667},
 {'capital': 'Chisinau',
  'country': 'Moldova',
  'latitude': 47.0,
  'longitude': 28.85},
 {'capital': 'Belmopan',
  'country': 'Belize',
  'latitude': 17.25,
  'longitude': -88.766667},
 {'capital': 'Melekeok',
  'country': 'Palau',
  'latitude': 7.4833333333333325,
  'longitude': 134.633333},
 {'capital': 'Baghdad',
  'country': 'Iraq',
  'latitude': 33.333333333333336,
  'longitude': 44.4},
 {'capital': 'Majuro',
  'country': 'Marshall Islands',
  'latitude': 7.1,
  'longitude': 171.383333},
 {'capital': 'Muscat',
  'country': 'Oman',
  'latitude': 23.61666666666667,
  'longitude': 58.583332999999996},
 {'capital': 'Kabul',
  'country': 'Afghanistan',
  'latitude': 34.516666666666666,
  'longitude': 69.18333299999999},
 {'capital': 'Paramaribo',
  'country': 'Suriname',
  'latitude': 5.833333333333332,
  'longitude': -55.166667000000004},
 {'capital': 'Reykjavik',
  'country': 'Iceland',
  'latitude': 64.15,
  'longitude': -21.95},
 {'capital': 'Madrid',
  'country': 'Spain',
  'latitude': 40.4,
  'longitude': -3.683333},
 {'capital': 'Athens',
  'country': 'Greece',
  'latitude': 37.98333333333333,
  'longitude': 23.733333},
 {'capital': 'Beijing',
  'country': 'China',
  'latitude': 39.91666666666666,
  'longitude': 116.38333300000001},
 {'capital': 'Tokyo',
  'country': 'Japan',
  'latitude': 35.68333333333333,
  'longitude': 139.75},
 {'capital': 'Noumea',
  'country': 'New Caledonia',
  'latitude': -22.266666666666666,
  'longitude': 166.45},
 {'capital': 'San Jose',
  'country': 'Costa Rica',
  'latitude': 9.933333333333334,
  'longitude': -84.083333},
 {'capital': 'Lusaka',
  'country': 'Zambia',
  'latitude': -15.416666666666664,
  'longitude': 28.283333000000002},
 {'capital': 'Abuja',
  'country': 'Nigeria',
  'latitude': 9.083333333333334,
  'longitude': 7.533333},
 {'capital': 'Lisbon',
  'country': 'Portugal',
  'latitude': 38.71666666666667,
  'longitude': -9.133333},
 {'capital': 'Bogota',
  'country': 'Colombia',
  'latitude': 4.6,
  'longitude': -74.083333},
 {'capital': 'Taipei',
  'country': 'Taiwan',
  'latitude': 25.03333333333333,
  'longitude': 121.516667},
 {'capital': 'Bujumbura',
  'country': 'Burundi',
  'latitude': -3.3666666666666667,
  'longitude': 29.35},
 {'capital': 'Montevideo',
  'country': 'Uruguay',
  'latitude': -34.85,
  'longitude': -56.166667000000004},
 {'capital': 'Gaborone',
  'country': 'Botswana',
  'latitude': -24.63333333333333,
  'longitude': 25.9},
 {'capital': 'Riga',
  'country': 'Latvia',
  'latitude': 56.95,
  'longitude': 24.1},
 {'capital': 'Baku',
  'country': 'Azerbaijan',
  'latitude': 40.38333333333333,
  'longitude': 49.866667},
 {'capital': 'Papeete',
  'country': 'French Polynesia',
  'latitude': -17.533333333333335,
  'longitude': -149.566667},
 {'capital': 'Ouagadougou',
  'country': 'Burkina Faso',
  'latitude': 12.366666666666667,
  'longitude': -1.516667},
 {'capital': 'Hanoi',
  'country': 'Vietnam',
  'latitude': 21.03333333333333,
  'longitude': 105.85},
 {'capital': 'Male',
  'country': 'Maldives',
  'latitude': 4.166666666666667,
  'longitude': 73.5},
 {'capital': 'Moroni',
  'country': 'Comoros',
  'latitude': -11.7,
  'longitude': 43.233333},
 {'capital': 'Porto-Novo',
  'country': 'Benin',
  'latitude': 6.4833333333333325,
  'longitude': 2.6166669999999996},
 {'capital': 'Ottawa',
  'country': 'Canada',
  'latitude': 45.41666666666666,
  'longitude': -75.7},
 {'capital': 'Stockholm',
  'country': 'Sweden',
  'latitude': 59.33333333333334,
  'longitude': 18.05},
 {'capital': 'Singapore',
  'country': 'Singapore',
  'latitude': 1.2833333333333332,
  'longitude': 103.85},
 {'capital': 'Windhoek',
  'country': 'Namibia',
  'latitude': -22.566666666666666,
  'longitude': 17.083333},
 {'capital': 'Dhaka',
  'country': 'Bangladesh',
  'latitude': 23.716666666666665,
  'longitude': 90.4},
 {'capital': 'Mogadishu',
  'country': 'Somalia',
  'latitude': 2.066666666666667,
  'longitude': 45.333333},
 {'capital': 'Victoria',
  'country': 'Seychelles',
  'latitude': -4.616666666666667,
  'longitude': 55.45},
 {'capital': 'Rome',
  'country': 'Italy',
  'latitude': 41.9,
  'longitude': 12.483333},
 {'capital': 'Vaduz',
  'country': 'Liechtenstein',
  'latitude': 47.13333333333333,
  'longitude': 9.516667},
 {'capital': 'Maputo',
  'country': 'Mozambique',
  'latitude': -25.95,
  'longitude': 32.583333},
 {'capital': 'Libreville',
  'country': 'Gabon',
  'latitude': 0.38333333333333336,
  'longitude': 9.45},
 {'capital': 'Dakar',
  'country': 'Senegal',
  'latitude': 14.733333333333333,
  'longitude': -17.633333},
 {'capital': 'Port Louis',
  'country': 'Mauritius',
  'latitude': -20.15,
  'longitude': 57.483332999999995},
 {'capital': 'Bridgetown',
  'country': 'Barbados',
  'latitude': 13.1,
  'longitude': -59.61666700000001},
 {'capital': 'Ulaanbaatar',
  'country': 'Mongolia',
  'latitude': 47.91666666666666,
  'longitude': 106.91666699999999},
 {'capital': 'Tbilisi',
  'country': 'Georgia',
  'latitude': 41.68333333333333,
  'longitude': 44.833333},
 {'capital': "Saint George's",
  'country': 'Grenada',
  'latitude': 12.05,
  'longitude': -61.75},
 {'capital': 'Tegucigalpa',
  'country': 'Honduras',
  'latitude': 14.1,
  'longitude': -87.216667},
 {'capital': 'Castries',
  'country': 'Saint Lucia',
  'latitude': 14.0,
  'longitude': -61.0},
 {'capital': 'Hamilton',
  'country': 'Bermuda',
  'latitude': 32.28333333333333,
  'longitude': -64.783333},
 {'capital': 'Kampala',
  'country': 'Uganda',
  'latitude': 0.31666666666666665,
  'longitude': 32.55},
 {'capital': 'Riyadh',
  'country': 'Saudi Arabia',
  'latitude': 24.65,
  'longitude': 46.7},
 {'capital': 'Bishkek',
  'country': 'Kyrgyzstan',
  'latitude': 42.86666666666667,
  'longitude': 74.6},
 {'capital': 'San Juan',
  'country': 'Puerto Rico',
  'latitude': 18.466666666666665,
  'longitude': -66.116667},
 {'capital': 'Vienna',
  'country': 'Austria',
  'latitude': 48.2,
  'longitude': 16.366667},
 {'capital': 'Havana',
  'country': 'Cuba',
  'latitude': 23.11666666666667,
  'longitude': -82.35},
 {'capital': 'Ljubljana',
  'country': 'Slovenia',
  'latitude': 46.05,
  'longitude': 14.516667000000002},
 {'capital': 'Moscow',
  'country': 'Russia',
  'latitude': 55.75,
  'longitude': 37.6},
 {'capital': 'Kuala Lumpur',
  'country': 'Malaysia',
  'latitude': 3.1666666666666665,
  'longitude': 101.7},
 {'capital': 'Amsterdam',
  'country': 'Netherlands',
  'latitude': 52.35,
  'longitude': 4.9166669999999995},
 {'capital': 'Oranjestad',
  'country': 'Aruba',
  'latitude': 12.516666666666667,
  'longitude': -70.033333},
 {'capital': 'Santiago',
  'country': 'Chile',
  'latitude': -33.45,
  'longitude': -70.666667},
 {'capital': 'Warsaw',
  'country': 'Poland',
  'latitude': 52.25,
  'longitude': 21.0},
 {'capital': 'Caracas',
  'country': 'Venezuela',
  'latitude': 10.483333333333333,
  'longitude': -66.866667},
 {'capital': 'Manila',
  'country': 'Philippines',
  'latitude': 14.6,
  'longitude': 120.96666699999999},
 {'capital': 'Manama',
  'country': 'Bahrain',
  'latitude': 26.23333333333333,
  'longitude': 50.566666999999995},
 {'capital': 'Conakry',
  'country': 'Guinea',
  'latitude': 9.5,
  'longitude': -13.7},
 {'capital': 'Harare',
  'country': 'Zimbabwe',
  'latitude': -17.816666666666666,
  'longitude': 31.033333000000002},
 {'capital': 'La Paz',
  'country': 'Bolivia',
  'latitude': -16.5,
  'longitude': -68.15},
 {'capital': 'Kuwait City',
  'country': 'Kuwait',
  'latitude': 29.36666666666667,
  'longitude': 47.966667},
 {'capital': 'Budapest',
  'country': 'Hungary',
  'latitude': 47.5,
  'longitude': 19.083333},
 {'capital': 'Jerusalem',
  'country': 'Israel',
  'latitude': 31.766666666666666,
  'longitude': 35.233333},
 {'capital': 'Paris',
  'country': 'France',
  'latitude': 48.86666666666667,
  'longitude': 2.333333},
 {'capital': 'Tirana',
  'country': 'Albania',
  'latitude': 41.31666666666667,
  'longitude': 19.816667000000002},
 {'capital': 'Yerevan',
  'country': 'Armenia',
  'latitude': 40.16666666666666,
  'longitude': 44.5},
 {'capital': 'Tallinn',
  'country': 'Estonia',
  'latitude': 59.43333333333333,
  'longitude': 24.716667},
 {'capital': 'Dar es Salaam',
  'country': 'Tanzania',
  'latitude': -6.8,
  'longitude': 39.283333},
 {'capital': 'Quito',
  'country': 'Ecuador',
  'latitude': -0.21666666666666667,
  'longitude': -78.5},
 {'capital': 'Copenhagen',
  'country': 'Denmark',
  'latitude': 55.66666666666666,
  'longitude': 12.583333},
 {'capital': 'Bucharest',
  'country': 'Romania',
  'latitude': 44.43333333333333,
  'longitude': 26.1},
 {'capital': 'Lome',
  'country': 'Togo',
  'latitude': 6.116666666666666,
  'longitude': 1.216667},
 {'capital': 'Vilnius',
  'country': 'Lithuania',
  'latitude': 54.68333333333333,
  'longitude': 25.316667000000002},
 {'capital': 'Bangkok',
  'country': 'Thailand',
  'latitude': 13.75,
  'longitude': 100.516667},
 {'capital': 'Kingston',
  'country': 'Jamaica',
  'latitude': 18.0,
  'longitude': -76.8},
 {'capital': 'Mexico City',
  'country': 'Mexico',
  'latitude': 19.433333333333334,
  'longitude': -99.133333},
 {'capital': 'Berlin',
  'country': 'Germany',
  'latitude': 52.51666666666666,
  'longitude': 13.4},
 {'capital': 'New Delhi',
  'country': 'India',
  'latitude': 28.6,
  'longitude': 77.2},
 {'capital': 'Managua',
  'country': 'Nicaragua',
  'latitude': 12.133333333333333,
  'longitude': -86.25},
 {'capital': 'Colombo',
  'country': 'Sri Lanka',
  'latitude': 6.916666666666668,
  'longitude': 79.833333},
 {'capital': 'Hagatna',
  'country': 'Guam',
  'latitude': 13.466666666666667,
  'longitude': 144.73333300000002},
 {'capital': 'Nairobi',
  'country': 'Kenya',
  'latitude': -1.2833333333333332,
  'longitude': 36.816666999999995},
 {'capital': 'Buenos Aires',
  'country': 'Argentina',
  'latitude': -34.583333333333336,
  'longitude': -58.666667000000004},
 {'capital': 'Khartoum',
  'country': 'Sudan',
  'latitude': 15.6,
  'longitude': 32.533333},
 {'capital': 'Canberra',
  'country': 'Australia',
  'latitude': -35.266666666666666,
  'longitude': 149.133333},
 {'capital': 'Doha',
  'country': 'Qatar',
  'latitude': 25.28333333333333,
  'longitude': 51.533333},
 {'capital': 'Mbabane',
  'country': 'Swaziland',
  'latitude': -26.316666666666666,
  'longitude': 31.133333},
 {'capital': 'Port-Vila',
  'country': 'Vanuatu',
  'latitude': -17.733333333333334,
  'longitude': 168.316667},
 {'capital': 'Port Moresby',
  'country': 'Papua New Guinea',
  'latitude': -9.45,
  'longitude': 147.183333},
 {'capital': 'Apia',
  'country': 'Samoa',
  'latitude': -13.816666666666665,
  'longitude': -171.76666699999998},
 {'capital': 'Bamako',
  'country': 'Mali',
  'latitude': 12.65,
  'longitude': -8.0},
 {'capital': 'Kathmandu',
  'country': 'Nepal',
  'latitude': 27.716666666666665,
  'longitude': 85.31666700000001},
 {'capital': "N'Djamena",
  'country': 'Chad',
  'latitude': 12.1,
  'longitude': 15.033332999999999},
 {'capital': 'San Marino',
  'country': 'San Marino',
  'latitude': 43.93333333333333,
  'longitude': 12.416667},
 {'capital': 'Astana',
  'country': 'Kazakhstan',
  'latitude': 51.16666666666666,
  'longitude': 71.416667},
 {'capital': 'Minsk',
  'country': 'Belarus',
  'latitude': 53.9,
  'longitude': 27.566667},
 {'capital': 'Monaco',
  'country': 'Monaco',
  'latitude': 43.73333333333333,
  'longitude': 7.4166669999999995},
 {'capital': 'Pretoria',
  'country': 'South Africa',
  'latitude': -25.7,
  'longitude': 28.216666999999998},
 {'capital': 'Valletta',
  'country': 'Malta',
  'latitude': 35.88333333333333,
  'longitude': 14.5},
 {'capital': 'Lilongwe',
  'country': 'Malawi',
  'latitude': -13.966666666666667,
  'longitude': 33.783333},
 {'capital': 'Freetown',
  'country': 'Sierra Leone',
  'latitude': 8.483333333333333,
  'longitude': -13.233332999999998},
 {'capital': 'Yamoussoukro',
  'country': "Cote d'Ivoire",
  'latitude': 6.816666666666666,
  'longitude': -5.266667},
 {'capital': 'Islamabad',
  'country': 'Pakistan',
  'latitude': 33.68333333333333,
  'longitude': 73.05},
 {'capital': 'Beirut',
  'country': 'Lebanon',
  'latitude': 33.86666666666667,
  'longitude': 35.5},
 {'capital': 'Asuncion',
  'country': 'Paraguay',
  'latitude': -25.266666666666666,
  'longitude': -57.666667000000004},
 {'capital': 'Jakarta',
  'country': 'Indonesia',
  'latitude': -6.166666666666668,
  'longitude': 106.816667},
 {'capital': 'Dushanbe',
  'country': 'Tajikistan',
  'latitude': 38.55,
  'longitude': 68.766667}]

In [13]:
capitals=DataFrame(capital_rows)

In [14]:
#q4

df = capitals.set_index("country")
df
x = df.loc["Bermuda"]
x["capital"]

'Hamilton'

In [15]:
#q5
df_capitals = capitals.set_index("capital")
series_Maputo = df_capitals.loc["Maputo"]
series_Maputo["country"]

'Mozambique'

In [16]:
#q6
long_df_south = capitals.sort_values(by = ["latitude"])
w = long_df_south.set_index("country")
top_five = long_df_south[:5]
list(top_five["country"])

['New Zealand', 'Australia', 'Uruguay', 'Argentina', 'Chile']

In [17]:
#q7
long_df_north = capitals.sort_values(by = "latitude", ascending = False)
top_three = long_df_north[:3]
list(top_three["country"])

['Iceland', 'Finland', 'Norway']

In [18]:
#q8
countries[["birth-rate", "death-rate"]].describe()

       birth-rate  death-rate
count  175.000000  175.000000
mean    22.536114    9.654971
std     11.287090    5.187216
min      8.250000    2.410000
25%     12.635000    6.075000
50%     20.340000    8.230000
75%     30.200000   11.965000
max     50.730000   29.740000

In [19]:
#q9
df_phl = countries[["phones", "literacy"]]    #phl = "phones and literacy"
phones = df_phl["phones"]
literacy = df_phl["literacy"]
comma_list2 = list(literacy)
comma_list = list(phones)
for item in comma_list:
    comma_list = [c.replace(',', '.') for c in comma_list]
    #print(comma_list)
    
for item in comma_list2:
     comma_list2 = [c.replace(',', '.') for c in comma_list2]
        

ser_phones = Series(comma_list)   #series of phones 
floaty_phones = ser_phones.astype(dtype = "float") #convert data type to float

ser_literacy = Series(comma_list2) #series of litercy 
floaty_literacy =  ser_literacy.astype(dtype = "float")   #convert data type to float

something = DataFrame({'phones': floaty_phones, 'literacy': floaty_literacy})
something.describe()

            phones    literacy
count   175.000000  175.000000
mean    214.621143   82.182286
std     218.613971   20.086897
min       1.300000   17.600000
25%      31.300000   69.950000
50%     140.100000   92.000000
75%     329.700000   98.000000
max    1035.600000  100.000000

In [20]:
#q10
stuff = countries[["coastline", "area", "country", "continent"]]
stuff_sorted = stuff.sort_values(by = "coastline")
fiber = stuff_sorted[stuff_sorted.coastline == 0]
europe = fiber[fiber.continent == "Europe"]
deluca = europe.sort_values(by = "area", ascending = False)
deluca["country"].iloc[0]

'Belarus'

In [21]:
#q11
new_fiber = countries[["coastline", "area", "country", "continent"]]
sorted_by_coast = new_fiber.sort_values(by = "coastline")
land_lock = sorted_by_coast[sorted_by_coast.coastline == 0]
africa = land_lock[land_lock.continent == "Africa"]
africa.sort_values(by = "area", ascending = False)["country"].iloc[0]

'Chad'

In [22]:
#q12
south_america =  land_lock[land_lock.continent == "South America"]
south_america.sort_values(by = "area", ascending = False)["country"].iloc[0]

'Bolivia'

In [23]:

# randall
lat1 = 43.070231
lon1 = -89.411893
#capital 
lat2 = 43.074645
lon2 = -89.384113


from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2]) # descimal to radians

    # haversine formula from link  
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 3956 # radius of earth in miles 
    distance =  c * r
    return distance

In [24]:
#q13
haversine(lon1, lat1, lon2, lat2)

1.433899492072933

In [25]:
"""
capitals 
tdata = capitals.set_index('country')
bdata = tdata.loc["Brazil"]   #bdata = brazil data
lat1 = bdata['latitude']
lon1 = bdata["longitude"]

idata = t.loc["India"]   #idata = india data
lat2 = idata["latitude"]
lon2 = idata["longitude"]
# from india to brazil (lon, lat)



c1 = "India"
c2 = "Brazil"
tdata = capitals.set_index("country")
c1_data = tdata.loc[c1]
lon1 = c1_data['longitude']
lat1 = c1_data['latitude']
    
c2_data = tdata.loc[c2]
lon2 = c2_data['longitude']
lat2 = c2_data['latitude']
print(c1_data)
print(c2_data)

haversine(lon1, lat1, lon2, lat2)
"""

'\ncapitals \ntdata = capitals.set_index(\'country\')\nbdata = tdata.loc["Brazil"]   #bdata = brazil data\nlat1 = bdata[\'latitude\']\nlon1 = bdata["longitude"]\n\nidata = t.loc["India"]   #idata = india data\nlat2 = idata["latitude"]\nlon2 = idata["longitude"]\n# from india to brazil (lon, lat)\n\n\n\nc1 = "India"\nc2 = "Brazil"\ntdata = capitals.set_index("country")\nc1_data = tdata.loc[c1]\nlon1 = c1_data[\'longitude\']\nlat1 = c1_data[\'latitude\']\n    \nc2_data = tdata.loc[c2]\nlon2 = c2_data[\'longitude\']\nlat2 = c2_data[\'latitude\']\nprint(c1_data)\nprint(c2_data)\n\nhaversine(lon1, lat1, lon2, lat2)\n'

In [26]:
tdata = capitals.set_index('country')
#print(tdata)

def better_haversine(c1, c2):
    tdata = capitals.set_index("country")
    c1_data = tdata.loc[c1]
    lon1 = c1_data['longitude']
    lat1 = c1_data['latitude']
    
    c2_data = tdata.loc[c2]
    lon2 = c2_data['longitude']
    lat2 = c2_data['latitude']
    
    if c1 == c2:
        return "NaN"
    
    
    
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2]) # descimal to radians

    # haversine formula from link  
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 3956 # radius of earth in miles 
    distance =  c * r
    return distance

In [27]:
#q14
better_haversine("India", "Brazil")

8840.574141306946

In [28]:
def co_list(c1, c2, c3): # not used 
    x = better_haversine(c1, c2)
    y = better_haversine(c1, c3)
    z = better_haversine(c2, c3)
    print("distance" + " " + "bw" + " " + str(c1) + "-" + str(c2) + ":" + " " + str(x))
    print("distance" + " " + "bw" + " " + str(c1) + "-" + str(c3) + ":" + " " + str(y))
    print("distance" + " " + "bw" + " " + str(c2) + "-" + str(c3) + ":" + " " + str(z))

In [29]:
co_list("Chile", "Guyana", "Colombia")

distance bw Chile-Guyana: 2897.5530949080326
distance bw Chile-Colombia: 2636.6445991563364
distance bw Guyana-Colombia: 1105.0663119835597

In [30]:
def co_list2(c1, c2, c3):    # maybe look for a for loop 
    x = better_haversine(c1, c2)
    y = better_haversine(c1, c3)
    z = better_haversine(c2, c3)
    data = {str(c1): [better_haversine(c1, c1), better_haversine(c1, c2), better_haversine(c1, c3)], # use vaiables
            str(c2): [better_haversine(c2, c1), better_haversine(c2, c2), better_haversine(c2, c3)],
            str(c3): [better_haversine(c3, c1), better_haversine(c3, c2), better_haversine(c3, c3)]}
    df = pd.DataFrame(data, index = [str(c1), str(c2), str(c3)])
    return df

In [31]:
#q15
co_list2("Chile", "Guyana", "Colombia")

            Chile   Guyana Colombia
Chile         NaN  2897.55  2636.64
Guyana    2897.55      NaN  1105.07
Colombia  2636.64  1105.07      NaN

In [32]:
capitals

            capital                           country   latitude   longitude
0          Brasilia                            Brazil -15.783333  -47.916667
1        Nouakchott                        Mauritania  18.066667  -15.966667
2              Bern                       Switzerland  46.916667    7.466667
3            Zagreb                           Croatia  45.800000   16.000000
4             Cairo                             Egypt  30.050000   31.250000
5             Sanaa                             Yemen  15.350000   44.200000
6          Helsinki                           Finland  60.166667   24.933333
7       Addis Ababa                          Ethiopia   9.033333   38.700000
8            Prague                    Czech Republic  50.083333   14.466667
9            Maseru                           Lesotho -29.316667   27.483333
10     Antananarivo                        Madagascar -18.916667   47.516667
11         Ashgabat                      Turkmenistan  37.950000   58.383333
12         Tashkent                        Uzbekistan  41.316667   69.250000
13        Kingstown  Saint Vincent and the Grenadines  13.133333  -61.216667
14           Roseau                          Dominica  15.300000  -61.400000
15            Tunis                           Tunisia  36.800000   10.183333
16           Niamey                             Niger  13.516667    2.116667
17           Dublin                           Ireland  53.316667   -6.233333
18   Port-au-Prince                             Haiti  18.533333  -72.333333
19             Lima                              Peru -12.050000  -77.050000
20     San Salvador                       El Salvador  13.700000  -89.200000
21            Sofia                          Bulgaria  42.683333   23.316667
22   Guatemala City                         Guatemala  14.616667  -90.516667
23            Rabat                           Morocco  34.016667   -6.816667
24         Brussels                           Belgium  50.833333    4.333333
25           Ankara                            Turkey  39.933333   32.866667
26       Wellington                       New Zealand -41.300000  174.783333
27      George Town                    Cayman Islands  19.300000  -81.383333
28          Tripoli                             Libya  32.883333   13.166667
29       Nuku'alofa                             Tonga -21.133333 -175.200000
..              ...                               ...        ...         ...
145       New Delhi                             India  28.600000   77.200000
146         Managua                         Nicaragua  12.133333  -86.250000
147         Colombo                         Sri Lanka   6.916667   79.833333
148         Hagatna                              Guam  13.466667  144.733333
149         Nairobi                             Kenya  -1.283333   36.816667
150    Buenos Aires                         Argentina -34.583333  -58.666667
151        Khartoum                             Sudan  15.600000   32.533333
152        Canberra                         Australia -35.266667  149.133333
153            Doha                             Qatar  25.283333   51.533333
154         Mbabane                         Swaziland -26.316667   31.133333
155       Port-Vila                           Vanuatu -17.733333  168.316667
156    Port Moresby                  Papua New Guinea  -9.450000  147.183333
157            Apia                             Samoa -13.816667 -171.766667
158          Bamako                              Mali  12.650000   -8.000000
159       Kathmandu                             Nepal  27.716667   85.316667
160       N'Djamena                              Chad  12.100000   15.033333
161      San Marino                        San Marino  43.933333   12.416667
162          Astana                        Kazakhstan  51.166667   71.416667
163           Minsk                           Belarus  53.900000   27.566667
164          Monaco                            Monaco  43.733333    7.416667
165        Pretoria                      South Africa -25.700000   28.216667
166        Valletta                             Malta  35.883333   14.500000
167        Lilongwe                            Malawi -13.966667   33.783333
168        Freetown                      Sierra Leone   8.483333  -13.233333
169    Yamoussoukro                     Cote d'Ivoire   6.816667   -5.266667
170       Islamabad                          Pakistan  33.683333   73.050000
171          Beirut                           Lebanon  33.866667   35.500000
172        Asuncion                          Paraguay -25.266667  -57.666667
173         Jakarta                         Indonesia  -6.166667  106.816667
174        Dushanbe                        Tajikistan  38.550000   68.766667

[175 rows x 4 columns]